html
  min-width: 100%
  min-height: 100%
  font: $fontStack
  color: $white

body
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

  text-align: center

// TYPOGRAPHY
h1
  font-size: 3em

h2
  margin: 1em 0

  font-size: 2em
  color: $grey
  font-weight: 100

a
  color: inherit
  
p
  color: $grey
